.article-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 880px;
  min-height: 140px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;

  .header-article {
    max-width: 941px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    position: relative;
    color: rgb(24, 144, 255);
    align-items: center;
    max-width: 530px;
    margin-left: 20px;
    margin-top: 10px;

    h2 {
      display: inline;
      font-weight: 500;
      margin: 0;
    }

    .tag {
      max-width: 110px;
      max-height: 20px;
      color: black;
      border-radius: 3px;
      font-weight: 600;
      font-size: 13px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      margin-right: 5px;
      padding: 2px;
      margin-top: 20px;
    }
    .like {
      position: relative;
      img {
        width: 16px;
        height: 16px;
        margin: 0 5px 0 10px;
      }
    }
  }

  .avatar {
    position: relative;
    display: flex;
    max-width: 160px;
    min-height: 100px;
    margin: 15px;

    .container-avatar {
      max-width: 110px;
      min-height: 70px;
      padding: 5px;
    }

    .name {
      min-height: 50px;
      word-wrap: break-word;
      font-weight: 600;
      padding: 5px;
    }

    span {
      display: block;
      margin-right: 5px;
      word-wrap: break-word;
    }

    img {
      width: 46px;
      height: 46px;
    }

    .btn-edit {
      position: relative;
      top: 90px;
      right: 230px;
      width: 65.23px;
      height: 31.1px;
      box-sizing: border-box;
      border: 1px solid rgb(82, 196, 26);
      border-radius: 5px;
      background-color: white;
      color: rgb(82, 196, 26);
      cursor: pointer;
    }
    .btn-del {
      position: relative;
      top: 120px;
      right: 317px;
      width: 78px;
      height: 31.1px;
      border: 1px solid rgb(245, 34, 45);
      border-radius: 5px;
      background-color: white;
      color: rgb(245, 34, 45);
      cursor: pointer;
    }

    .btn-edit:hover {
      background-color: rgb(82, 196, 26);
      color: white;
    }
    .btn-del:hover {
      background-color: rgb(245, 34, 45);
      color: white;
    }
  }

  p {
    max-width: 95%;
    height: auto;
    margin: 0;
    margin-left: 15px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }

  ul,
  li {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .descr {
    width: 100%;
  }

  padding: 15px;
}
