.sign-up-form {
  width: 385px;
  height: 650px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(38, 38, 38);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  form {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    display: inline;
  }
  label {
    margin-left: 15px;
  }
  span {
    margin-left: 15px;
  }
  .already {
    margin-left: 65px;
  }

  .check {
    padding: 1px;
  }

  input[type='email'],
  input[type='password'],
  input[type='text'],
  input[type='password'] {
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 15px;
  }

  input[type='checkbox'] {
    margin-top: 15px;
    width: 20px;
    height: 20px;
  }

  button {
    display: block;
    margin-top: 25px;
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 4px;
    color: white;
    background: rgb(24, 144, 255);
    cursor: pointer;
  }

  a {
    color: rgb(24, 144, 255);
    margin-left: 15px;
  }

  .error {
    color: red;
    font-size: 0.8rem;
  }
}
